body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}



.calculator {
    width: 350px; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
}

input {
    height: 60px;
    font-size: 2rem;
    padding: 15px;
}

.buttons {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border-radius: 8px;
}


button:hover {
    background-color: #d4d4d4;
}

button:nth-child(1) {
    background-color: #ff5e57;
    color: white;
}
